<div class="container">
    <div class="row d-flex justify-content-center">
        <input type="text" [(ngModel)]="chat.mensaje" class="form-control" placeholder="Mensaje">        
        <button type="button" (click)="insertarMensaje()" class="btn btn-primary btn-lg btn-block">Enviar</button>
        <button type="button"  (click)="leerMensajes()" name="" id="" class="btn btn-primary btn-lg btn-block"></button>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>USUARIO</th>
                    <th>FECHA</th>
                    <th>MENSAJE</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let msj of listaMensajes">
                    <td scope="row">{{msj.id}}</td>
                    <td scope="row">{{msj.usuario}}</td>
                    <td scope="row">{{msj.fecha}}</td>
                    <td scope="row">{{msj.mensaje}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>