<div class="chat-container mat-elevation-z8">
    <!-- Chat Header -->
    <div class="chat-header">
      <h1>Usuario: {{usu}}</h1>
      <mat-form-field appearance="fill" class="filter-input">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
      </mat-form-field>
      <button mat-icon-button color="primary" (click)="cerrarSesion()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>
  
    <!-- Chat Messages -->
    <div class="chat-messages">
      <div class="message-bubble" *ngFor="let usuario of ds.data">
        <button mat-icon-button color="primary" (click)="usuarioSeleccionado(usuario)">
          <mat-icon>exit_to_app</mat-icon>
        </button>
        <span>{{usuario.nombre}}</span>
      </div>
      <div class="no-data" *ngIf="ds.data.length === 0">
        No hay datos"{{input.value}}"
      </div>
    </div>
  
    <!-- Chat Input -->
    <div class="chat-input">
      <input matInput placeholder="Mensaje..." [(ngModel)]="usuarioSeleccion.mensaje" />
      <button mat-icon-button color="primary" (click)="enviarMensaje()">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
  